/* master layout */

body {
    /* Always a Relative Path not an Absolute */
    background: url('images/crumpled-brown-paper-texture.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    font-size: 40px;
    color: white;
}

.navbar {
    width: 75%;
    margin: 10px auto;
}

.nav-link {
    margin-right: 5px;
}

#about {
    color: #cc0000;
    border: 2px solid  #cc0000;
    border-radius: 4px;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#about:hover {
    background-color: #cc0000;
    color: #a98855;
    border: 2px solid transparent;
}

#portfolio {
    color: #0066cc;
    border: 2px solid #0066cc;;
    border-radius: 4px;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#portfolio:hover {
    background-color: #0066cc;
    color: #a98855;
    border: 2px solid transparent;
}

#contact {
    color: #ffcc00;
    border: 2px solid #ffcc00;
    border-radius: 4px;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#contact:hover {
    background-color: #ffcc00;
    color: #a98855;
    border: 2px solid transparent;
}


#search:hover {
    color: #84623c !important;
}

/* index.html */

.container {
    width: 950px;
}

.picture {
    margin-right: 20px;
    padding-top: 50px;
}

.jumbotron {
    text-align: center;
    width: 620px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

#mainBtn:hover {
    background-color: #0066cc;
    color: #a98855;
}

#mainBtn {
    background-color: transparent;
    color: #0066cc;
    border-color: #0066cc;
}

p {
    color: white;
}


.aboutMe {
    border: 2px solid black;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    width: 300px;
    height: 400px;
    float: right;
}

/* Portfolio.html */
.imgContainer {
    width: 75%;
    margin: 0 auto !important;
}

/* contact.html */

.form {
    width: 75%;
    margin: 0 auto;
}

#submit {
    float: right;
    background-color: transparent;
    color: green;
    border-color: green;
}

#submit:hover {
    background-color: green;
    color: #a98855;
}

