body {
    background: url('/Users/taekim/Desktop/code/Repository/basic-portfolio/assets/css/images/Crumpled-and-Creased-Kraft-Paper-Texture.jpg');
}

.container {
    margin: auto;

}

#about:hover {
    color: red;
}

#portfolio:hover {
    color: #0059D1;
}

#contact:hover {
    color: #FFD700;
}

